.wee{
	width: 20px;
}
.we{
	height: 750px;
}
.hei{
	height: 70px;
}
.left{
	margin-right: 1px;
}
.wid{
	height: 70px;
	width: 800px;
}
.top{
	margin-top: 50px;
}
.pidesat{
	height: 80px;
}
.pidesat1{
	height: 150px;
}
.pidesat2{
	height: 50px;
}
.pidesat3{
	height: 190px;
}
.pidesat4{
	height: 170px;
}
.pidesat5{
	height: 210px;
}